.button {
    color: #fff;
    background: #0f8fee;
    border-radius: 1px;
    text-decoration: none;
    padding: 9px 15px;
    line-height: 1.45em;
    display: inline-block;

    &:hover {
        background: #3781d0;
    }
    &:active {
        box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    }
}
