.button {
    color: #FFFFFF;
    background: #0F8FEE;
    border-radius: 1px;
    text-decoration: none;
    padding: 0 15px;
    line-height: 38px;
    height: 38px;
    display: block;

    &:hover {
        background: #3781D0;
    }
    &:active {
        box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    }
}